@import url(./__place/section-subtitle__place_digits.css);
@import url(./__place/section-subtitle__place_kaufman.css);
@import url(./__place/section-subtitle__place_techniques.css);
@import url(./__quote/section-subtitle__quote.css);
@import url(./__quote/__author-subline/quote__author-subline.css);
@import url(./__theme/section-subtitle__theme_dark.css);

.section-subtitle{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  z-index: 100;
  margin-top: 20px;
}