@import url(./__content/column__content_social.css);
@import url(./__content/column__content_info.css);
@import url(./__content/column__content_copyright.css);
@import url(./column-heading/column-heading.css);
@import url(./column-links/column-links.css);
@import url(./column-link/column-link.css);

.column {
  display: flex;
  margin-top: 60px;
  margin-bottom: 40px;
  width: 90%;
  justify-content: space-between;
}